<%- include('./partials/header'); -%>
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <div class="page-header-title">
                      <% if (user.walletAddress) { %>
                      <h5 class="m-b-10">
                        Xin chào bác sĩ <%= user.fullname %>
                      </h5>
                      <% } else { %>
                      <h5 class="m-b-10">Xin chào bác sĩ <%= user.fullname %></h5>
                      <p>
                        Bệnh viện của chúng tôi sử dụng blockchain để
                        <strong>quản lý và bảo mật hồ sơ bệnh án của bệnh nhân một cách an toàn và minh bạch</strong>. Để có thể sử dụng chức năng tạo hoặc chỉnh sửa hồ sơ bệnh nhân hoặc bệnh án, bạn vui lòng hãy
                        <a href="/doctor/profile">liên kết tài khoản MetaMask thông qua trang thông tin cá nhân</a>.
                      </p>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-md-12"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer'); -%>
